/* Styles sheet for the home page or any page with shared styles */
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    margin: 20px;
    background-color: rgb(247, 241, 234);
}

.recipe-section, .advice-section {
    margin-bottom: 60px;
    text-align: center;
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
}
.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.category-item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(144, 131, 131, 1);
    transition: transform 0.3s ease;
}

.category-item:hover img {
    transform: scale(1.5);
}
h1{
    color: rgb(170, 107, 13);
}
.category-item h2 {
    margin-top: 40px;
    color: rgb(221, 159, 67);
}


.advice-slider {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.advice-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.advice-item {
    min-width: 300px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.advice-item img {
    max-width: 100%;
    height:200px;
    width: 270px;
    border-radius: 5px;
    align-items: center;
}

.advice-item h3 {
    margin-top: 10px;
}

.advice-item p {
    text-align: left;
}

.advice-item .full-text {
    display: none;
}

.advice-item a {
    display: block;
    margin-top: 10px;
    color: rgb(110, 68, 5);
    text-decoration: none;
    cursor: pointer;
    margin-left: 1px;
}

.advice-item a:hover {
    text-decoration: underline;
}

.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color:rgb(110, 68, 5);
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

#slide-prev {
    left: 0;
}

#slide-next {
    right: 0;
}
