.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.image-section {
    width: 300px;
    height: 300px;
    margin: 10px; 
    text-align: center;
}

.image-section img {
    width: 300px;
    height: 200px;
    
}

.ingredients-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100vh; 
    margin: 10px;
}

#ingredients-table {
    border-collapse: collapse;
    width: 80%; 
    max-width: 600px; 
    margin: 0 auto; 
    text-align: left; 
}

#ingredients-table th, #ingredients-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#ingredients-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f2f2f2;
    color: black;
}

input[type=range] {
    width: 300px;
    margin: 10px auto;
    display: block;
}

#servingsDisplay {
    margin-top: 10px;
    font-size: 10px;
}

.controls-section {
    margin-top: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



